<div class="row">
  <!-- Area Chart -->
  <div class="col-md-12">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="formSubmitSubject$.next(null)">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            {{ textoTituloFormulario }}
          </h6>
          <p class="text-danger">Todos los campos marcados con <b>*</b> son requeridos.</p>
        </div>
        <!-- Card Body -->

        <div class="card-body">

          <div class="row">
            <div class="col-md-6">

              <div class="row">
                <div class="col-md-6 space-bottom">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzRequired>Código del proveedor</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzHasFeedback>
                      <input class="text-uppercase" nz-input formControlName="code" placeholder="Ejm: JUAHSI9865" />
                      <nz-form-explain *ngIf="validateForm.get('code')?.dirty && validateForm.get('code')?.errors">
                        <ng-container *ngIf="validateForm.get('code')?.hasError('maxlength')">
                          {{ generalMessages.maxlength }}
                        </ng-container>
                        <ng-container *ngIf="validateForm.get('code')?.hasError('codeTaken')">
                          El código del proveedor ya existe, intente con otro.
                        </ng-container>
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div class="col-md-6 space-bottom">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzRequired>Nombre</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzHasFeedback>
                      <input nz-input formControlName="name" placeholder="Ejm: Mofles JB" />
                      <nz-form-explain
                        *ngIf="validateForm.get('name')?.dirty && validateForm.get('name')?.errors">
                        <ng-container *ngIf="validateForm.get('name')?.hasError('required')">
                          {{ generalMessages.required }}
                        </ng-container>
                        <ng-container *ngIf="validateForm.get('name')?.hasError('maxlength')">
                          {{ generalMessages.maxlength }}
                        </ng-container>
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 space-bottom">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzRequired>Ciudad</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzHasFeedback>
                      <input nz-input formControlName="city" placeholder="Ejm: Medellín" />
                      <nz-form-explain
                        *ngIf="validateForm.get('city')?.dirty && validateForm.get('city')?.errors">
                        <ng-container *ngIf="validateForm.get('city')?.hasError('required')">
                          {{ generalMessages.required }}
                        </ng-container>
                        <ng-container *ngIf="validateForm.get('city')?.hasError('maxlength')">
                          {{ generalMessages.maxlength }}
                        </ng-container>
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div class="col-md-6 space-bottom">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzRequired>País</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzHasFeedback>
                      <input nz-input formControlName="country" placeholder="Ejm: Colombia" />
                      <nz-form-explain
                        *ngIf="validateForm.get('country')?.dirty && validateForm.get('country')?.errors">
                        <ng-container *ngIf="validateForm.get('country')?.hasError('required')">
                          {{ generalMessages.required }}
                        </ng-container>
                        <ng-container *ngIf="validateForm.get('country')?.hasError('maxlength')">
                          {{ generalMessages.maxlength }}
                        </ng-container>
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 space-bottom">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzRequired>Whatsapp</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzHasFeedback>
                      <input nz-input formControlName="whatsapp" placeholder="Ejm: 3157896543" />
                      <nz-form-explain
                        *ngIf="validateForm.get('whatsapp')?.dirty && validateForm.get('whatsapp')?.errors">
                        <ng-container *ngIf="validateForm.get('whatsapp')?.hasError('required')">
                          {{ generalMessages.required }}
                        </ng-container>
                        <ng-container *ngIf="validateForm.get('whatsapp')?.hasError('maxlength')">
                          {{ generalMessages.maxlength }}
                        </ng-container>
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div class="col-md-6 space-bottom">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="null" nzRequired>Teléfono</nz-form-label>
                    <nz-form-control [nzSpan]="null" nzHasFeedback>
                      <input nz-input formControlName="telephone" placeholder="Ejm: 5033326" />
                      <nz-form-explain
                        *ngIf="validateForm.get('telephone')?.dirty && validateForm.get('telephone')?.errors">
                        <ng-container *ngIf="validateForm.get('telephone')?.hasError('required')">
                          {{ generalMessages.required }}
                        </ng-container>
                        <ng-container *ngIf="validateForm.get('telephone')?.hasError('maxlength')">
                          {{ generalMessages.maxlength }}
                        </ng-container>
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div class="row">

                <div class="col-md-6 space-bottom">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="null">Notas</nz-form-label>
                    <nz-form-control [nzSpan]="null">
                      <textarea formControlName="notes" nz-input rows="2"
                        placeholder="Ejm: Notas informativas"></textarea>
                      <nz-form-explain
                        *ngIf="validateForm.get('notes')?.dirty && validateForm.get('notes')?.hasError('maxlength')">
                        {{ generalMessages.maxlength }}
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

            </div>
            <div class="col-md-6">

              <div class="row">
                <div class="col-md-12">
                  <h4 nz-title>Imagen del proveedor</h4>
                    <ngx-img #fotoProveedor (onSelect)="onSelect($event)" (onReset)="reset()"
                      [text]="textoCropper"
                      [config]="opcionesCropper"
                      [errorTexts]="erroresCropper">
                    </ngx-img>
                </div>
                <div class="col-md-12">
                  <div *ngIf="imagenSrc.length" class="container mt-3">
                    <h4 nz-title>Previsualización</h4>
                    <div class="row">
                      <div *ngFor="let img of imagenSrc" class="col-md-6">
                        <img class="img-fluid" [src]="img">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="card-footer">
          <div class="row">
            <div class="offset-md-7 col-md-3 space-bottom">
              <button class="btn btn-block btn-light" (click)="resetForm($event)">Restablecer</button>
            </div>
            <div class="col-md-2 space-bottom">
              <button class="btn btn-block btn-primary">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
