<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Productos</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-home fa-sm text-white-50"></i> Módulo Maestros</a>
</div>

<app-create-edit-product (productSaved)="loadEmitSaved()" (productEditClear)="productEditClear()" [productEdit]="productEdit">
</app-create-edit-product>


<div class="row">
  <div class="col-md-12">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">
                  Listado de productos
              </h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-hover table-custom" datatable [dtOptions]="dtOptions"
                      [dtTrigger]="dtTrigger">
                      <thead>
                          <tr class="text-center">
                              <th></th>
                              <th>Código</th>
                              <th>Nombre</th>
                              <th>Precio unitario</th>
                              <th>Cantidad por caja</th>
                              <th>Precio caja</th>
                              <th>Estado</th>
                          </tr>
                      </thead>
                      <tbody *ngIf="products.length > 0">
                          <tr class="text-center" #trRef *ngFor="let product of products; trackBy:trackByFn">
                              <td>
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="btn-group btn-group-sm" role="group" aria-label="Opciones">
                                              <button type="button" class="btn btn-info"
                                                  (click)="expandRow(trRef, product)">
                                                  <i class="fa fa-info-circle"></i>
                                              </button>
                                              <button type="button" class="btn btn-primary"
                                                  (click)="setProductEdit(product)">
                                                  <i class="fa fa-pen"></i>
                                              </button>
                                              <button type="button" class="btn btn-light"
                                                  (click)="changeStatus(product)">
                                                  <i class=" fa fa-check-circle" *ngIf="!product.status ">
                                                  </i>
                                                  <i class="fa fa-times-circle" *ngIf="product.status ">
                                                  </i>
                                              </button>
                                          </div>
                                      </div>
                                  </div>
                              </td>

                              <td>{{ product.code }}</td>
                              <td>{{ product.description }}</td>
                              <td>{{ product.unitPrice }}</td>
                              <td>{{ product.quantityPerBox }}</td>
                              <td>{{ product.boxPrice }}</td>
                              <td>
                                  <label *ngIf="product.status" class="badge badge-light ">Disponible</label>
                                  <label *ngIf="!product.status " class="badge badge-primary ">Inactivo</label>
                              </td>
                          </tr>
                      </tbody>
                      <tbody *ngIf="products.length===0 ">
                          <tr class="text-center ">
                              <td colspan="8">
                                  <div class="row ">
                                      <div class="col-md-12 ">
                                          <p>
                                              No existen datos para mostrar.
                                          </p>
                                      </div>
                                  </div>
                              </td>
                              <td style="display: none; "></td>
                              <td style="display: none; "></td>
                              <td style="display: none; "></td>
                              <td style="display: none; "></td>
                              <td style="display: none; "></td>
                              <td style="display: none; "></td>
                              <td style="display: none; "></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>